<ion-content>
  <ion-searchbar color="light" placeholder="Buscar" (ionChange)="filter($event.target.value)" debounce="250">
  </ion-searchbar>
  <ion-list class="read-list" lines="full" *ngIf="searched && ingredients.length">
    <ion-item *ngFor="let ingredient of ingredients">
      <div class="allergenic-selection" [class.selected]="isPriorityAllergenic(ingredient.ingredient.name)">
        <ion-label>
          <h2 (click)="toggleAllergenic(ingredient.ingredient)">
            <ion-text class="allergenic-title">{{ingredient.ingredient.name}}</ion-text>
          </h2>
          <div class="show-allergenic-derivations">
            <ion-text [color]="ingredient.showing ? 'dark' : 'medium'"
              (click)="ingredient.showing = ingredient.showing ? false : true" class="show-derivations">
              {{ingredient.showing ? 'Ocultar' : 'Ver'}} derivações
            </ion-text>
            <ul class="derived-names-list" *ngIf="ingredient.showing">
              <li *ngFor="let derived_ingredient of ingredient.derived_ingredients">{{derived_ingredient.name}}</li>
            </ul>
          </div>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
  <div class="no-results" *ngIf="searched && !ingredients.length">
    <ion-text color="medium">
      Nenhum resultado encontrado
    </ion-text>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="incrementPage($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando itens...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>