ion-item {
    padding-top: 8px;
}

.allergenic-selection {
    width: 100%;
    padding-left: 8px;
    margin-bottom: 8px;

    .allergenic-title {
        font-weight: bold;
        color: var(--ion-color-dark);
    }

    .show-allergenic-derivations {
        text-align: left;
        width: 100%;
        font-size: 0.9em;
    }

    &.selected {
        .allergenic-title {
            color: var(--ion-color-danger);
        }
    }

    ion-icon {
        position: absolute;
        margin-top: 3px;
        margin-left: 5px;
    }
}

.derived-names-list {
    margin: 0;
    padding-left: 15px;
    list-style: none;

    & li {
        color: var(--ion-color-medium);
    }

    & li::before {
        content: "\2022";
        color: var(--ion-color-medium);
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

.show-derivations {
    margin-top: 5px;
    font-size: 0.8em;
}

ion-infinite-scroll {
    padding-top: 15px;
}