<div id="app-reader">
    <div id="camera-preview" #cameraPreview >
        <div id="camera-text-content"
            [ngStyle]="scanned_file_base64 ? {'background-image': 'url(' + scanned_file_base64 + ')'} : {'background-color': '#000'}">
            <img *ngIf="scanned_file" [src]="scanned_file_base64" />
            <div class="no-capture" *ngIf="!scanned_file"
                (click)="capture(1)" color="medium">
                <ion-icon name="camera-outline"></ion-icon>
                <span>CÂMERA</span>
            </div>
            <div class="no-capture" *ngIf="!scanned_file"
                (click)="capture(0)" color="medium">
                <ion-icon name="image-outline"></ion-icon>
                <span>GALERIA</span>
            </div>
        </div>
    </div>
    <div id="camera-actions" *ngIf="scanned_file">
        <ion-item>
            <ion-icon
                (click)="!scanning && ingredient_reads.length && save()"
                [color]="!scanning && ingredient_reads.length ? 'success' : ''" slot="end"
                name="checkmark-circle-outline"></ion-icon>
            <ion-icon
                (click)="clearScan()"
                color="danger" slot="end"
                name="close-circle-outline"></ion-icon>
            <ion-input placeholder="Nome do Rótulo"
                (input)="label_name = $event.target.value"></ion-input>
        </ion-item>
    </div>
    <div id="scan-result">
        <ion-text *ngIf="!scanned_file" color="dark" class="scan-result-title">
            <p><ion-icon name="bulb-outline"></ion-icon></p>
            <p><span>Realize o scan para obter resultados</span></p>
        </ion-text>
        <ion-text *ngIf="scanning && scanned_file" color="primary" class="scan-result-title">
            <p><ion-icon name="search-outline"></ion-icon></p>
            <p><span>Analisando resultados...</span></p>
        </ion-text>
        <app-ingredient-list
            *ngIf="scanned_file && !scanning"
            [ingredient_reads]="ingredient_reads">
        </app-ingredient-list>
    </div>
</div>