<div id="app-reader">
    <div id="camera-preview" #cameraPreview (click)="capture()">
        <div id="camera-text-content"
            [ngStyle]="scanned_file_base64 ? {'background-image': 'url(' + scanned_file_base64 + ')'} : {'background-color': '#000'}">
            <img *ngIf="scanned_file" [src]="scanned_file_base64" />
            <div class="no-capture" *ngIf="!scanned_file" color="medium">
                <ion-icon name="scan-outline"></ion-icon>
                <span>ESCANEAR RÓTULO</span>
            </div>
        </div>
    </div>
    <div id="camera-actions" *ngIf="scanned_file">
        <ion-item>
            <ion-icon
                (click)="!scanning && compound_reads.length && save()"
                [color]="!scanning && compound_reads.length ? 'success' : ''" slot="end"
                name="checkmark-circle-outline"></ion-icon>
            <ion-icon
                (click)="clearScan()"
                color="danger" slot="end"
                name="close-circle-outline"></ion-icon>
            <ion-input placeholder="Nome do Rótulo"
                (input)="label_name = $event.target.value"></ion-input>
        </ion-item>
    </div>
    <div id="scan-result">
        <ion-text *ngIf="!scanned_file" color="dark" class="scan-result-title">
            <p><ion-icon name="bulb-outline"></ion-icon></p>
            <p><span>Realize o scan para obter resultados</span></p>
        </ion-text>
        <ion-text *ngIf="scanning && scanned_file" color="primary" class="scan-result-title">
            <p><ion-icon name="search-outline"></ion-icon></p>
            <p><span>Analisando resultados...</span></p>
        </ion-text>
        <ion-text *ngIf="scanned_file && !compound_reads.length && !scanning" color="light" class="scan-result-title">
            <p><ion-icon name="sad-outline"></ion-icon></p>
            <p><span>A análise não gerou resultados. Tente realizar o scan novamente.</span></p>
        </ion-text>
        <ion-list *ngIf="scanned_file && compound_reads.length" class="read-list" lines="full">
            <ion-item *ngFor="let read of getSortedCompounds()" color="light">
                <ion-label>
                    <p>{{read.name}}</p>
                    <small>
                        <ion-text color="medium">{{read.best_match.name}}</ion-text>
                        <span *ngIf="isPriorityAllergenic(read.best_match.name)" class="bookmark">
                            <ion-icon color="danger" name="pricetag-outline"></ion-icon>
                        </span>
                        <ion-text [color]="getAccuracyColor(read)" class="accuracy">
                            {{read.accuracy | percent}}
                        </ion-text>
                    </small>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</div>