<div id="app-reader">
    <div id="camera-preview" #cameraPreview (click)="capture()">
        <div id="camera-text-content">
            <ion-text color="medium">
                <ion-icon name="scan-outline"></ion-icon>
                <span>CAPTURAR RÓTULO</span>
            </ion-text>
        </div>
    </div>
    <div id="camera-actions">
        <ion-chip color="success" outline>
            <ion-label><ion-icon name="checkmark-outline"></ion-icon></ion-label>
        </ion-chip>
        <ion-chip color="medium" outline>
            <ion-label><ion-icon name="repeat-outline"></ion-icon></ion-label>
        </ion-chip>
        <ion-chip color="danger" outline>
            <ion-label><ion-icon name="close-outline"></ion-icon></ion-label>
        </ion-chip>
    </div>
    <div id="scan-result">
        <ion-text color="dark" class="scan-result-title">
            <p>
                <ion-icon name="list-circle-outline"></ion-icon>
                <span>Resultados do Scan</span>
            </p>
        </ion-text>
        <ion-text *ngIf="!scanElements.length" color="light" class="scan-result-title">
            <p>
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                <span>Realize o scan para obter resultados</span>
            </p>
        </ion-text>
        <ion-chip *ngFor="let element of scanElements" color="danger">
            <ion-label>Elemento x</ion-label>
        </ion-chip>
    </div>
</div>