ion-list.read-list {
    background: transparent;
    
    .bookmark {
        margin-left: 5px;
    }

    .accuracy {
        float: right;
    }
}

.scan-result-title p {
    text-align: center;
    margin-bottom: 0;
}