<ion-list class="read-list" lines="full">
    <ng-container *ngIf="getSortedIngredients().length; else emptyread">
        <ion-item color="light" *ngFor="let read of getSortedIngredients()">
            <ion-label>
                <div class="item-content">
                    <ion-text class="icon-content">
                        <ion-icon name="barcode-outline"></ion-icon>
                    </ion-text>
                    <ion-text class="text-content">
                        {{read.name}}
                    </ion-text>
                </div>
                <div class="item-content">
                    <ion-text class="icon-content" [color]="isPriorityAllergenic(read) ? 'danger' : 'medium'">
                        <ion-icon name="flask-outline"></ion-icon>
                    </ion-text>
                    <ion-text class="text-content" [color]="isPriorityAllergenic(read) ? 'danger' : 'medium'">
                        {{read.best_match?.name || '-'}}
                        <span *ngIf="isPriorityAllergenic(read)" class="bookmark">
                            <ion-icon color="danger" name="skull-outline"></ion-icon>
                        </span>
                    </ion-text>
                </div>
                <ion-text [color]="getAccuracyColor(read)" class="accuracy">
                    {{getAccuracyDisplay(read.accuracy)}}
                </ion-text>
            </ion-label>
        </ion-item>
    </ng-container>
    <ng-template #emptyread>
        <ion-text color="dark" class="scan-result-title">
            <p><ion-icon name="alert-circle-outline"></ion-icon></p>
            <p><span>A análise não encontrou resultados relevantes.</span></p>
        </ion-text>
    </ng-template>
</ion-list>