ion-list.read-list {
    background: transparent;
    margin-bottom: 5px;
 
    .item-content {
        display: block;

        &:last-of-type {
            margin-top: 2px;
        }
    }

    .icon-content {
        width: 30px;
        display: inline-block;

        ion-icon {
            position: absolute;
            margin-top: -18px;
        }
    }

    .text-content {
        width: calc(100% - 30px);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bookmark {
        margin-left: 5px;
        font-size: 0.8em;
    }

    .accuracy {
        font-size: 0.8em;
        margin-top: 5px;
        display: block;

        .accuracy-description {
            color: var(--ion-color-medium);
        }
    }

    ion-item {
        &:first-child { border-radius: 4px 4px 0 0; }
        &:last-child { border-radius: 0 0 4px 4px; }
    }
}

.scan-result-title p {
    text-align: center;
    margin-bottom: 0;
}