$tabs-height: 57px;

ion-list {
    overflow-y: auto;
    height: 100%;
    margin-bottom: $tabs-height;
    background-color: transparent;

    .label-user-name,
    .label-date {
        font-weight: bold;
        font-style: italic;
    }

    .bookmark {
        margin-right: 5px;
    }
}

ion-tabs {
    top: auto;
    height: $tabs-height;
}

.no-results {
    margin: 10px;
    text-align: center;
}