$tabs-height: 57px;

ion-list {
    overflow-y: auto;
    height: 100%;
    margin-bottom: $tabs-height;
    background-color: transparent;

    .label-user-name,
    .label-date {
        font-weight: bold;
        font-style: italic;
    }
    
    // ion-avatar {
    //     text-align: center;
    //     display: table;
    //     border: 2px solid var(--ion-color-light);
        
    //     ion-icon {
    //         padding: 8px;
    //         vertical-align: middle;
    //         display: table-cell;
    //     }
    // }

    .bookmark {
        margin-right: 5px;
    }
}

ion-tabs {
    top: auto;
    height: $tabs-height;
}