<ion-content fullscreen>
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary">Alteração de informações da conta</ion-card-title>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" value="{{email}}" (input)="email = $event.target.value"></ion-input>
      </ion-item>
      <small class="error" *ngIf="errors['email']">Preencha seu email</small>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="email" name="email" value="{{name}}" (input)="name = $event.target.value"></ion-input>
      </ion-item>
      <small class="error" *ngIf="errors['name']">Preencha seu nome</small>
      <ion-button color="primary" expand="block" (click)="changeEmail()">
        Alterar Informações
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary">Alteração de senha</ion-card-title>
      <ion-item>
        <ion-label position="floating">Senha atual</ion-label>
        <ion-input type="email" name="email" (input)="password = $event.target.value"></ion-input>
      </ion-item>
      <small class="error" *ngIf="errors['password']">Preencha sua senha atual</small>
      <ion-item>
        <ion-label position="floating">Nova senha</ion-label>
        <ion-input type="email" name="email" (input)="newPassword = $event.target.value"></ion-input>
      </ion-item>
      <small class="error" *ngIf="errors['newPasswordEmpty']">Preencha a nova senha</small>
      <small class="error" *ngIf="errors['newPasswordEqual']">A nova senha não deve ser igual a anterior</small>
      <ion-item>
        <ion-label position="floating">Repetir nova senha</ion-label>
        <ion-input type="email" name="email" (input)="repeatNewPassword = $event.target.value"></ion-input>
      </ion-item>
      <small class="error" *ngIf="errors['repeatNewPasswordEmpty']">Preencha novamente a nova senha</small>
      <small class="error" *ngIf="errors['repeatNewPasswordNotEqual']">As senhas não coincidem</small>
      <ion-button color="primary" expand="block" (click)="changePassword()">
        Alterar Senha
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>