<ion-tabs>
  <ion-tab tab="account">
    <ion-content fullscreen>
      <ion-searchbar color="light" placeholder="Buscar" (ionChange)="filter($event.target.value)" debounce="250">
      </ion-searchbar>
      <ion-list class="read-list" lines="full" *ngFor="let ingredient of ingredients">
        <ion-item>
          <div class="allergenic-selection" [class.selected]="isPriorityAllergenic(ingredient.ingredient.name)">
            <ion-label>
              <h2 (click)="toggleAllergenic(ingredient.ingredient)">
                <ion-text class="allergenic-title">{{ingredient.ingredient.name}}</ion-text>
              </h2>
              <small (click)="ingredient.showDerivedNames = !!!ingredient.showDerivedNames">
                <ion-text color="dark">
                  Ver derivações <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-text>
                <ul class="derived-names-list" *ngIf="ingredient.showDerivedNames">
                  <li *ngFor="let derived_ingredient of ingredient.derived_ingredients">{{derived_ingredient.name}}</li>
                </ul>
              </small>
            </ion-label>
          </div>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="incrementPage($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando itens...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="allergenics">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Alergênicos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>