ion-button {
    margin-top: 20px;
}

ion-card-title {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

app-profile-picture {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.error {
    display: block;
    padding-top: 5px;
    color: var(--ion-color-danger);
}